.navbar {
  background-color: rgb(1, 1, 5) !important;
}

.nav-link {
  color: white !important;
}
.navbar-brand {
  color: white;
}

h1 {
  font-size: 18px !important;
  text-align: left;
}

.img-fluid {
  height: 200px !important;
}